.button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: @tablet) {
  .button {
    min-width: 282px;
    font-size: 20px;
    line-height: 0px;
    padding: 26px 0;
  }

  .button__wrapper {
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .button {
    min-width: 568px;
  }
}
