.button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.button__wrapper {
  margin: 0 20px 21px;
}
