.example {
  background-color: #eaeaea;
  padding: 26px 20px 40px;
  position: relative;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 19px;
  margin: 0;
}

.example__text-cost {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet) {
  .example {
    padding: 0;
    background-color: #ffffff;
  }

  .example__info-wrapper {
    background-color: #ffffff;
    padding: 43px 30px 51px;
  }

  .example__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px 64px;
  }

  .example__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px 54px;
  }

  .example::after {
    width: 560px;
    height: 512px;
    background-size: cover;
    bottom: 100px;
  }

  .example__text-cost {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    width: 171px;
    text-align: right;
    padding-top: 9px;
  }

  .example__slider {
    position: relative;
    background: #eaeaea;
    padding-bottom: 100px;

    &::before {
      content: "";
      height: 151px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #ffffff;
    }
  }
}

@media (min-width: @desktop) {
  .example {
    background: #ffffff;
  }

  .example__container {
    width: 1220px;
    margin: 0 auto;
    position: relative;
    padding-right: 700px;
    box-sizing: border-box;
    padding-top: 72px;
  }

  .example__title {
    width: 1220px;
    margin: 0 auto;
    padding-right: 500px;
    box-sizing: border-box;
    padding-left: 0;
    padding-bottom: 76px;
  }

  .example__wrapper {
    background: #f2f2f2;
    min-height: 361px;
    padding-bottom: 71px;
  }

  .example__slider {
    position: absolute;
    right: 0;
    top: -135px;
    background: #f2f2f2;
    padding-bottom: 0;
  }

  .example__text {
    width: 435px;
    padding: 0;
    margin-bottom: 67px;
  }

  .example__text-cost {
    display: flex;
    width: 436px;
  }

  .example__text-cost-text {
    margin-right: 66px;
  }
}
