.footer {
  background-color: #f2f2f2;
}

.footer__welcome-dealers {
  background-color: #ffffff;
  padding: 25px 20px;
  margin: 0;
}

.footer__welcome-dealers--form {
  background-color: #f2f2f2;
}

.footer__welcome-dealers--catalog {
  background-color: #f2f2f2;
}

.footer__welcome-wrapper {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__welcome-dealers-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 139px;
  display: block;
}

.footer__welcome-dealers-address {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 139px;
}

.footer__map {
  width: 100%;
  height: 362px;
  position: relative;
}

.footer__map-google-wrapper {
  width: 100%;
  height: 362px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.footer__map-google {
  width: 100%;
  height: 100%;
}

.footer__map-image-wrapper {
  height: 362px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.footer__map-image {
  width: 100%;
}

.footer__logo-link {
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 24px;
}

.footer__logo-wrapper {
  padding: 39px 0 31px;
  margin: 0 20px;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet) {
  .footer__container {
    background-color: #f2f2f2;
  }

  .footer__links-wrapper {
    display: flex;
    align-items: center;
    padding: 24px 0;
  }

  .footer__welcome-dealers {
    padding: 57px 70px 60px;
    background-color: #f2f2f2;
  }

  .footer__welcome-dealers-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-top: 4px;
  }

  .footer__welcome-dealers-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    text-align: right;
    margin-left: 0;
    justify-content: flex-end;
  }

  .address-street {
    padding-bottom: 18px;
  }

  .footer__welcome-wrapper {
    max-width: 100%;
  }

  .footer__map {
    height: 400px;
  }

  .footer__map-google-wrapper {
    height: 400px;
  }

  .footer__map-image-wrapper {
    height: 400px;
  }

  .footer__logo-wrapper {
    border-bottom: none;
    margin: 0 155px 0 30px;
  }
}

@media (min-width: @desktop) {
  .footer__container {
    position: relative;
    padding-top: 95px;
    padding-bottom: 102px;
    min-height: 198px;
  }

  .footer__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .footer__welcome-dealers {
    width: 565px;
    padding: 57px 75px 57px 80px;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    left: 50%;
    margin-left: -610px;
    background-color: #ffffff;
  }

  .footer__welcome-dealers-address {
    justify-content: flex-start;
  }

  .footer__map,
  .footer__map-google-wrapper,
  .footer__map-image-wrapper {
    height: 100%;
  }

  .address-street {
    text-align: left;
  }

  .address-city {
    text-align: left;
  }

  .footer__links-wrapper {
    width: 1220px;
    margin: 0 auto;
    padding: 54px 0;
    justify-content: space-between;
  }

  .footer__logo-wrapper {
    margin: 0;
    padding: 0;
    margin-right: 158px;
  }
}
