.form__title {
  padding: 29px 20px 37px;
}

.form__text {
  margin: 0 20px 38px;
}

@media (min-width: @tablet) {
  .form__title {
    padding: 59px 70px 55px;
  }

  .form__text {
    margin: 0 70px 65px;
  }
}

@media (min-width: @desktop) {
  .form__title {
    width: 1220px;
    margin: 0 auto;
    padding: 76px 0 55px;
  }

  .form__text {
    width: 323px;
    margin: 0 0 66px 119px;
  }
}
