.header-nav {
  position: relative;
}

.header-nav__list {
  display: none;
}

.header-nav__toggle {
  border: none;
  width: 24px;
  height: 18px;
  background-color: #68b738;
  display: block;
  position: absolute;
  right: 20px;
  top: -42px;
}

@media (min-width: @tablet) {

}
