.logo {
  position: absolute;
  left: 21px;
  top: 10px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet) {
  .logo {
    left: 30px;
    top: 24px;
  }
}

@media (min-width: @desktop) {
  .logo {
    left: 0;
    top: 54px;
  }
}
