.social {
  margin: 0 20px;
  padding: 20px 0 15px;
  border-bottom: 1px solid #d9d9d9;
}

.social__wrapper {
  display: flex;
  margin: 0 auto;
  width: 132px;
}

.social__link-vk {
  margin-right: 24px;
}

.social__link-youtube {
  margin-right: 24px;
}

.social__logo {
  fill: #666666;
}

.social__link:hover .social__logo {
  fill: #68b738;
}

.social__link:active .social__logo {
  fill: #68b738;
  opacity: 0.25;
}

@media (min-width: @tablet) {
  .social {
    border-bottom: none;
    margin: 0 129px 0 0;
    padding: 17px 0 8px;
  }
}

@media (min-width: @desktop) {
  .social {
    padding: 8px 0 8px;
  }

}
